.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--secondary-color);

  .logo {
    display: flex;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 24px;
      color: #101828;
    }
  }

  .welcome {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.04px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .date {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0000008A;
  }

  // responsive
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
